editor_gramatica/GAMu/cursos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="cursos">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="curso">
                    <xs:complexType>
                        <xs:attribute name="id"/>
                        <xs:attribute name="duracao"/>
                        <xs:attribute name="designacao"/>
                        <xs:attribute name="idInstr"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
